.crossword-grid {
  display: block;

  .grid-square {
    rect {
      &.block {
        fill: #000000;
      }
      &.clue-highlighted {
        fill: #fffddd;
      }
      &.focused-square {
        fill: #f9c9be;
      }
      &.fillable {
        fill: #ffffff;
      }
    }
    .grid-square-number {
      font-family: Roboto, Sans-serif;
      font-size: 10px;
      color: #555555;
    }
    .grid-square-fill {
      font-family: Roboto, Sans-serif;
      font-size: 16px;
      fill: #000000;

      text-anchor: middle;

      &.verified {
        fill: #1a56db;
      }
      &.verified-incorrect {
        fill: #c81e1e;
      }
    }
  }

  .grid-border {
   fill: none;
    stroke: #000000;
  }
  
  .grid-lines {
    stroke: #555555;
  }
}
