.grid-square {
  rect {
    &.block {
      fill: #000000;
    }
    &.clue-highlighted {
      fill: #fffddd;
    }
    &.focused-square {
      fill: #f9c9be;
    }
    &.fillable {
      fill: #ffffff;
    }
  }
  .grid-square-number {
    font-family: Roboto, Sans-serif;
    font-size: 10px;
    color: #555555;
  }
  .grid-square-fill {
    font-family: Roboto, Sans-serif;
    font-size: 16px;
    color: #000000;

    text-anchor: middle;
  }
}

.grid-border {
  fill: none;
  stroke: #000000;
}

.grid-lines {
  stroke: #555555;
}
