<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cryptic Vault</title>
</head>
<body>
    <div id="homepage-root"></div>
</body>
<script src="js/bundle/homePage.js"></script>
<link rel="stylesheet" href="js/bundle/homePage.css" />
</html>